<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title></title>
    <meta name="description" />
    <meta name="keywords" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDI5G_7UPn76oS9Iy0ugdHduyeJcFViv6w"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/app.js"></script>
</head>
<body>
    <header class="site-head">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @if(ViewBag.UserSessionId>0)
                    {
                    <div class="block block-right">
                        <div class="menu vertical-box">
                            <nav>
                                <ul>
                                    <li><a href="/exams">Sınav Listele</a></li>
                                    <li><a href="/">Sınav Oluştur</a></li>
                                </ul>
                            </nav>
                        </div>
                        </div>
                    }
                    </div>
                    </div>
                </div>
</header>
    @RenderBody()
    <footer class="site-foot">
       
    </footer>
</body>
</html>
